.wrapper {
  display: block;
  width: 104px;
  margin: 0;
}
#issue_guide {
  font-size: 1.4rem;
  color: #686868;
  font-family: 'Bad Script', cursive;
  text-align: center;
}
.button {
  margin: 2px auto;
  width: 100px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
